/* Fonts */

@font-face {
  font-family: "FixelDisplay";
  src: url("../assets/fonts/FixelDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FixelDisplay";
  src: url("../assets/fonts/FixelDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FixelDisplay";
  src: url("../assets/fonts/FixelDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NyghtSerif";
  src: url("../assets/fonts/NyghtSerif-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: "FixelDisplay", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

em {
  font-family: "NyghtSerif";
}

.lead {
  font-size: 18px;
  line-height: 1.1;
}

.text {
  font-size: 16px;
  line-height: 1.25;
  opacity: 0.8;
}

h2,
.h2 {
  font-family: "NyghtSerif";
  font-size: 55px;
}

h3,
.h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
}

h4,
.h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}

@media screen and (max-width: 1199px) {
  h2,
  .h2 {
    font-size: 40px;
  }

  h3,
  .h3 {
    font-size: 32px;
  }

  h4,
  .h4 {
    font-size: 24px;
  }
}

@media screen and (max-width: 719px) {
  h2,
  .h2 {
    font-size: 32px;
  }

  h3,
  .h3 {
    font-size: 24px;
  }

  h4,
  .h4 {
    font-size: 20px;
  }

  .lead {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* Variables */

body {
  --gap-xl: 50px;
  --gap-l: 32px;
  --gap-m: 20px;
  --gap-s: 16px;
  --gap-xs: 8px;

  --padding-xl: 50px;
  --padding-l: 32px;
  --padding-m: 20px;
  --padding-s: 16px;
  --padding-xs: 8px;
}

@media screen and (max-width: 1199px) {
  body {
    --gap-xl: 20px;
    --gap-l: 20px;
    --gap-m: 20px;
    --gap-s: 12px;
    --gap-xs: 8px;

    --padding-xl: 20px;
    --padding-l: 20px;
    --padding-m: 20px;
    --padding-s: 16px;
    --padding-xs: 8px;
  }
}

@media screen and (max-width: 719px) {
  body {
    --gap-xl: 20px;
    --gap-l: 20px;
    --gap-m: 16px;
    --gap-s: 12px;
    --gap-xs: 8px;

    --padding-xl: 20px;
    --padding-l: 16px;
    --padding-m: 16px;
    --padding-s: 12px;
    --padding-xs: 8px;
  }
}

/* Features */

/* width */
.scrollbar::-webkit-scrollbar {
  width: 4px;
  background: none;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: #fff1;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #ffff;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fffa;
}

.pswp__counter {
  font-family: "NyghtSerif";
}

.pswp__button--zoom {
  display: none !important;
}

/* Hide scrollbar */

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
